# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hwawon_github\SecProgramming_FinalAssignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
